

 body {
            font-family: Arial, sans-serif;
            background: linear-gradient(#da3030, #555, #764ba2);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100dvh;
            margin: 0;
        }

        .calculator {
            background-color: #764ba2;
            padding: 24px;
            border-radius: 17px;
            width: 340px;
            box-shadow: 300px rgba(0,0,0,0.4);
        }

        h1 {
            color: white;
            text-align: center;
            margin-bottom: 10px;
        }

        .display {
            background-color: #f6f4f4;
            color: rgb(17, 17, 17);
            text-align: right;
            padding: 15px;
            font-size: 24px;
            border-radius: 10px;
            margin-bottom: 15px;
        }

        .buttons {
            display: grid;
            grid-template-columns: 25% 25% 25% 20%;

            gap: 10px;
        }

        button {
            padding: 15px;
            font-size: 18px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            background-color: #333;
            color: white;
            transition: 0.2s;
        }

        button:hover {
            background-color: #555;
        }

        .operator {
            background-color: #555;
        }

        .operator:hover {
            background-color: #555;
        }

        .equal {
            grid-column: span 2;
            background-color: #28a745;
        }

        .equal:hover {
            background-color: #1e7e34;
        }

        .clear {
            background-color: #555;
        }

        .clear:hover {
            background-color: #b02a37;
        }